body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: 'Dancing Script', cursive;
  font-weight:400;
  line-height:1.8em;
  color:#2a9d8f;
  scroll-behavior: smooth;
}

.scroll-btn {
  margin-bottom: 25px;
  position:absolute;
  width:100%;
  text-align:center;
  color:#000;
  top: 90%;
}

.scroll-btn p {
  margin: 0px;
}

.fa-angle-down {
  color: white;
}

.scroll-btn a {
  color: #fff;
  font-size:1.8rem;
  font-weight:900;
}

a {
  text-decoration: none;
}

.header-text {
  font-size: 4.5rem;
  color:#2a9d8f;
}

.venue {
  top:25%;
  font-size: 3.5rem;
  color:#2a9d8f;
  text-align:center;

}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.90;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/wed-image.jpg');
  min-height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  top:50%;
}

.venue-detail {
  top: 25%;
  color: #1d3557;
}

.section{
  text-align:center;
  padding:50px 80px;
  font-size: 24px;
}

.section-light{
  background-color:#fae1dd;
}

.section-dark{
  background-color:#2a9d8f;
  color:#fae1dd;
}

.ptext{
  position:absolute;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}
.note {
  margin-top: 50px;
  font-size:18px;
}

@media(max-width:568px){
  .pimg1 {
    background-image:url('../img/wed-image-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .pimg1, .pimg2, .pimg3{
    /* background-attachment:scroll; */
    width:100%;
  }
  .header-text {
    font-size:1.5rem;
    font-weight:900;
  }
  .section{
    font-size:1.0rem;
  }
  .gmap {
    position: relative;
    overflow: hidden;
    width: 100%
  }
  .responsive-iframe {
    width: 100%;
    height: 100%;
  }
}
